<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <title>Rpc system status</title>
</head>

<body>
  <main class="w3-container">
    <section class="">
      <header>
        <h1>Last updated: {{ data.lastUpdated }}</h1>
      </header>
    </section>
    <section class="w3-half">
      <table class="w3-table w3-striped w3-hoverable w3-border" id="data-table">
        <thead>
          <tr>
            <th>Detector</th>
            <th>V set</th>
            <th>V read</th>
            <th>I max</th>
            <th>I read</th>
            <th>Power</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Scint 0:</td>
            <td>{{ data.HVparameters.Vscint0set }}</td>
            <td>{{ data.HVparameters.Vscint0read }}</td>
            <td>{{ data.HVparameters.Iscint0max }}</td>
            <td>{{ data.HVparameters.Iscint0read }}</td>
            <td>{{ data.HVparameters.scint0power }}</td>
            <td>{{ data.HVparameters.scint0status }}</td>
          </tr>
          <tr>
            <td>Scint 1:</td>
            <td>{{ data.HVparameters.Vscint0set }}</td>
            <td>{{ data.HVparameters.Vscint0read }}</td>
            <td>{{ data.HVparameters.Iscint0max }}</td>
            <td>{{ data.HVparameters.Iscint0read }}</td>
            <td>{{ data.HVparameters.scint1power }}</td>
            <td>{{ data.HVparameters.scint1status }}</td>
          </tr>
          <tr>
            <td>RPC 0:</td>
            <td>{{ data.HVparameters.Vrpc0set }}</td>
            <td>{{ data.HVparameters.Vrpc0read }}</td>
            <td>{{ data.HVparameters.Irpc0max }}</td>
            <td>{{ data.HVparameters.Irpc0read }}</td>
            <td>{{ data.HVparameters.rpc0power }}</td>
            <td>{{ data.HVparameters.rpc0status }}</td>
          </tr>
          <tr>
            <td>RPC 1:</td>
            <td>{{ data.HVparameters.Vrpc0set }}</td>
            <td>{{ data.HVparameters.Vrpc0read }}</td>
            <td>{{ data.HVparameters.Irpc0max }}</td>
            <td>{{ data.HVparameters.Irpc0read }}</td>
            <td>{{ data.HVparameters.rpc1power }}</td>
            <td>{{ data.HVparameters.rpc1status }}</td>
          </tr>
        </tbody>
      </table>

    </section>
  </main>
  <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
  <script>
    var options = {
      valueNames: [
        'V set',
        'V read',
        'I max',
        'I read',
        'Power',
        'Status',
      ]
    }
  </script>
</body>

</html>